<!DOCTYPE html>
<html>
<head>
    <title>AM medidores</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
                <tr>
                    <td>{{ dato.deveui }}</td>
                    <td>{{ dato.consumo }}</td>
                    <td>{{ dato.devaddr }}</td>
                    <td>{{ dato.fecha }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
